@import "https://fonts.googleapis.com/css?family=Inconsolata";
@import "https://fonts.googleapis.com/css?family=Quicksand";

@font-face{
  font-family: kredit;
  src:url("https://pattern.kivan-works.com/fonts/kredit.ttf");
}
@font-face{
  font-family: kredit-back;
  src:url("https://pattern.kivan-works.com/fonts/kredit_back.ttf");
}
@font-face{
  font-family: kredit-front;
  src:url("https://pattern.kivan-works.com/fonts/kredit_front.ttf");
}
@font-face{
  font-family: kredit-shine;
  src:url("https://pattern.kivan-works.com/fonts/kredit_shine.ttf");
}
@font-face{
  font-family:Beyond Infinity;
  src:url("https://pattern.kivan-works.com/fonts/Beyond_Infinity.ttf");
}